@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap%27');

.page_container img{
  /* margin: 2em; */
  /* position: sticky; */
  top: 2em;
  margin: 2em auto;
  display: block;
}


.form_section {
  margin: 10vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form_container {
  display: flex;
  flex-direction: column;
  padding: 3em;
  background-color: #f4fbff;
  border-radius: 15px;
  max-width: 600px;
}


.form_container label {
  margin: 1em;
  /* width: 40vw; */
  
}





/* .form_container legend h3 {
  font-family: 'Montserrat', sans-serif;
} */

/* .form_container label h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
} */

/* .form_container label input[type="text"] {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.375);
  border: 0.5px solid darkgrey;
}

.form_container label input[type="number"] {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.375);
  border: 0.5px solid darkgrey;
}

.form_container label input[type="email"] {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.375);
  border: 0.5px solid darkgrey;
}

 .form_container label input:focus {
  border: 2px solid #0c3e83;
  outline: none !important;
}  */






.form_container button {
  /* width: 100px;
  height: 35px;
  padding: 10px 24px;
  border-radius: 8px;
  margin: 1em;
  margin-left: 22em;
  display: flex; */
/* background-color: #0c4492; */
  /* padding: 0.2em;  */
  /* margin: 4px 2px; */

  margin: 0 auto;
  display: block;
  border-radius: 10px;
  display: flex;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f4fbff; 
  color: black; 
  border: 2px solid #184275;
}



.form_container button:hover{
  background-color: #184275;
  color: white;
}




.checkbox-wrapper{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


.my-label{
  /* margin: 10px !important; */
  width:max-content !important ;
  font-family: 'Montserrat', sans-serif;
}


.my-checkbox{
  
}


.form-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.form-label{
  color: #262b37;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}


.form-input{
  width: 100%;
  height: 54px;
  border: none;
  color: #48566a;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f4fbff;
  border: 0.5px solid darkgrey;
}


.form-input-number{
  width: 100%;
  height: 54px;
  border: none;
  color: #48566a;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f4fbff;
  border: 0.5px solid darkgrey;
}


.form-input-email{
  width: 100%;
  height: 54px;
  border: none;
  color: #48566a;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f4fbff;
  border: 0.5px solid darkgrey;
}


.form-input-date{
  width: 100%;
  height: 54px;
  border: none;
  color: #48566a;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f4fbff;
  border: 0.5px solid darkgrey;
}


.form-input-cinsiyet{
  width: 100%;
  height: 54px;
  border: none;
  color: #48566a;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f4fbff;
  border: 0.5px solid darkgrey;
}


.form-input-pozisyon{
  width: 100%;
  height: 54px;
  border: none;
  color: #48566a;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #f4fbff;
  border: 0.5px solid darkgrey;
}

.option-input{
  font-family: 'Montserrat', sans-serif;
  color: #48566a;
}


.ust-baslıklar{
  color: #040405;
  font-size: 21px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.form-input:focus{
  border: 2px solid #0c3e83;
  outline: none !important;
}


.form-input-number:focus{
  border: 2px solid #0c3e83;
  outline: none !important;
}


.form-input-email:focus{
  border: 2px solid #0c3e83;
  outline: none !important;
}


.form-input-date:focus{
  border: 2px solid #0c3e83;
  outline: none !important;
}


.form-input-cinsiyet:focus{
  border: 2px solid #0c3e83;
  outline: none !important;
}


.form-input-pozisyon:focus{
  border: 2px solid #0c3e83;
  outline: none !important;
} 